div{
    background-color: red;
    width: 100%;
border-bottom-right-radius:50px ;}


@media (max-width:600px) {
    div{
        background-color: red;
        width: 100%;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:50px ;
    


}
div>h1{
    margin: 20px;
}
    
}